### RABBITMQ ###
RABBITMQ_HOSTNAME=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

### EMAIL ###
MAIL_HOSTNAME=seu_host
MAIL_PORT=587
MAIL_USER=seu_user
MAIL_PASSWORD=sua_password