### POSTGRES_CUSTOMER ###
POSTGRES_USER_CUSTOMER=postgres
POSTGRES_PASSWORD_CUSTOMER=postgres

### RABBITMQ ###
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

### KEYCLOAK ###
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=123
KEYCLOAK_URL=https://localhost:8443
POSTGRES_USER_KEYCLOAK=postgres
POSTGRES_PASSWORD_KEYCLOAK=postgres