### CUSTOMER DATABASE ###
POSTGRES_USER_CUSTOMER=postgres
POSTGRES_PASSWORD_CUSTOMER=postgres

### ACCOUNT DATABASE ###
POSTGRES_USER_ACCOUNT=postgres
POSTGRES_PASSWORD_ACCOUNT=postgres

### RABBITMQ ###
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

### KEYCLOAK ###
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=123
KEYCLOAK_HOSTNAME=https://localhost:8443

### KEYCLOAK DATABASE ###
POSTGRES_USER_KEYCLOAK=postgres
POSTGRES_PASSWORD_KEYCLOAK=postgres