### ACCOUNT DATABASE ###
POSTGRES_HOSTNAME=localhost:5434/account
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

### RABBITMQ ###
RABBITMQ_HOSTNAME=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest