### RABBITMQ ###
RABBITMQ_HOSTNAME=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

### KEYCLOAK ###
KEYCLOAK_CLIENT_ID=banking-auth-admin
KEYCLOAK_CLIENT_SECRET=seu_secret_aqui
KEYCLOAK_REALM=banking
KEYCLOAK_SERVER_URL=http://localhost:8080